label {
    margin-bottom: 20px;
    margin-top: 20px;
    color:rgb(235,235,235);
    font-weight:normal;
}
input[type=text], input[type=password], input[type=email] {
    background: rgba(120,120,120, 0.7);
    border: 1px solid rgb(100,100,100);
    color:#fff;
    max-width: 465px;
    height: 50px;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    border: 1px solid rgb(100,100,100);
    box-shadow: none;
}
select.form-control {
    background: rgba(120,120,120, 0.7);
    border: 1px solid rgb(100,100,100);
    color:#fff;
    max-width: 465px;
    height: 50px;
}

select.form-control:focus {
    border: 1px solid rgb(100,100,100);
    box-shadow: none;
}

p.error-message {
    font-size: 14px;
    color: rgb(225, 65, 65);
    animation-duration: 0.25s;
    -moz-animation-duration: 0.25s;
    -webkit-animation-duration: 0.25s;
}
p.error-message.margin-top {
    margin-top: 20px;
}
.btn {
    height: 50px;
    min-width: 140px;
}
.btn.btn-danger {
    background:rgb(245,93,54);
}

#loginForm {
    label {
        margin:0;
    }
    input[type=text], input[type=password], input[type=email] {
        height: 34px;
    }
}
.login-button-container .btn {
    height: 34px;
}
hr {
    border-color: rgb(149,149,149);
    margin-top: 40px;
    margin-bottom: 30px;
}
.short-field {
    width: 50%;
    display: inline-block;
    max-width: 225px;
    float: left;
    margin-right: 15px;
}

.form-group {
    display: inline-block;
    width: 100%;
}