label {
    margin-bottom: 20px;
    margin-top: 20px;
    color: rgb(235,235,235);
    font-weight: normal;
}

input[type=text], input[type=password], input[type=email], input[type=number] {
    background: rgba(120,120,120, 0.7);
    border: 1px solid rgb(100,100,100);
    color: #fff;
    max-width: 465px;
    height: 50px;
    font-size: 24px;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus,, input[type=number]:focus {
    border: 1px solid rgb(100,100,100);
    box-shadow: none;
}

select.form-control {
    background: rgba(120,120,120, 0.7);
    border: 1px solid rgb(100,100,100);
    color: #fff;
    max-width: 465px;
    height: 50px;
    font-size: 24px;
}

select.form-control:focus, input.form-control[disabled], input.form-control[readonly] {
    border: 1px solid rgb(100,100,100);
    box-shadow: none;
    background: rgba(120,120,120, 0.7);
}

input.form-control:disabled {
    background: rgba(120,120,120, 0.7);
    opacity: 0.5;
}

p.success-message {
    display: inline-block;
    width: 100%;
    line-height: 1.3;
    font-size: 24px;
    color: rgb(65, 200, 65);
    animation-duration: 0.25s;
    -moz-animation-duration: 0.25s;
    -webkit-animation-duration: 0.25s;
    margin: 0;
    padding: 0;
}

p.error-message {
    display: inline-block;
    width: 100%;
    line-height: 1.3;
    font-size: 22px;
    color: rgb(225, 65, 65);
    animation-duration: 0.25s;
    -moz-animation-duration: 0.25s;
    -webkit-animation-duration: 0.25s;
    margin: 0;
    padding: 0;
}

p.margin-top {
    margin-top: 10px;
}

.btn {
    height: 50px;
    min-width: 140px;
    font-size: 24px;
    padding: 0 10px;

    .fa {
        font-size: 18px;
    }
}

.btn.btn-danger {
    background: rgb(245,93,54);
}

.btn.btn-delete {
    background-color: #d9534f;
}

.btn-container {
    display: inline-block;
    width: 100%;
    margin-top: 20px;

    .btn {
        margin-left: 20px;
    }

    .btn:first-child {
        margin-left: 0;
    }
}

#loginForm {
    label {
        margin: 0;
    }

    input[type=text], input[type=password], input[type=email], input[type=number] {
        height: 34px;
    }
}

.login-button-container .btn {
    height: 34px;
}

hr {
    border-color: rgb(149,149,149);
    margin-top: 30px;
    margin-bottom: 35px;
    display: inline-block;
    width: 100%;
}

.short-field {
    width: 50%;
    display: inline-block;
    max-width: 225px;
    float: left;
    margin-right: 15px;
}

textarea.form-control {
    background: rgba(120,120,120, 0.7);
    border: 1px solid rgb(100,100,100);
    color: #fff;
    max-width: 465px;
    min-height: 100px;
    font-size: 24px;
}

textarea.form-control:focus {
    border: 1px solid rgb(100,100,100);
    box-shadow: none;
}

.form-group {
    display: inline-block;
    width: 100%;
}

form h4 {
    margin-bottom: 30px;
}

.section-container {
    display: inline-block;
    width: 100%;
}

.section {
    display: inline-block;
    width: 40%;
    max-width: 500px;
    float: left;
    margin-right: 5%;

    .fields {
        float: left;
        margin-right: 100px;
        width: 100%;
    }

    .image {
        padding-top: 0;
        width: 150px;
        text-align: center;
        margin: 20px auto;
        display: block;

        img {
            width: 100%;
        }

        .btn {
            margin-top: 20px;
            min-width: 152px;
        }
    }
}

.section.left {
    width: 55%;
}

.section.right {
    width: 35%;
}

#fileUpload {
    display: none;
}

.toggle {
    width: 200px;
    height: 52px;

    span.choice {
        opacity: 0.5;
        padding: 10px 20px;
        width: 50%;
        display: inline-block;
        float: left;
        cursor: pointer;
        text-align: center;
    }

    span.yes {
        background: #f55d36;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }

    span.no {
        background: #d9534f;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    span.choice.active {
        opacity: 1;
    }
}

.form-control.half {
    width: 45%;
}

.field-helper {
    font-size: 18px;
    color: #999999;
    display: block;
    margin-top: 5px;
}

.repair-form {

    textarea.form-control {
        min-height: 160px;
    }
}

.app .wrapper {
    .full-width-form-section {
        width: 100%;
        display: inline-block;

        .detail-section {

            label {
                width: 300px;
            }

            textarea {
                width: 100%;
                min-height: 200px;
                max-width: 100%;
            }
        }
    }
}

input[type=checkbox] {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.form-control.full-width {
    width: 100%;
    max-width: 100%;
}

.app .wrapper .payment form label {
    width: 100%;
}

.app .wrapper .backend-user.payment form label {
    width: 180px;
}

multiple-select .dropdown {
    background: rgba(120,120,120,0.7);
    position: relative;
    border: 1px solid #646464;
    border-radius: 4px;
}

multiple-select .dropdown dd,
multiple-select .dropdown dt {
    margin: 0px;
    padding: 0px;
}

multiple-select .dropdown ul {
    margin: -1px 0 0 0;
}

multiple-select .dropdown dd {
    position: relative;
}

multiple-select .dropdown a,
multiple-select .dropdown a:visited {
    text-decoration: none;
    outline: none;
    font-size: 12px;
}

multiple-select .dropdown dt a {
    display: block;
    padding: 0px 20px 0px 10px;
    height: 48px;
    overflow: hidden;
    border: 0;
    width: 100%;
}

multiple-select .dropdown dt a span,
multiple-select .multiSel span {
    cursor: pointer;
    display: inline-block;
    padding: 0 3px 2px 0;
    font-size: 24px;
    color: #fff;
    font-weight: normal;
}

multiple-select .dropdown dd ul {
    background: rgba(120,120,120, 1);
    border: 1px solid #646464;
    display: none;
    left: 0px;
    padding: 2px 15px 2px 5px;
    position: absolute;
    top: 4px;
    width: 100%;
    list-style: none;
    height: 150px;
    overflow: auto;
    z-index: 99;
    border-radius: 4px;
}
multiple-select .dropdown dd ul li {
   width: 100%;
}
multiple-select .dropdown span.value {
    display: none;
}

multiple-select .dropdown dd ul li a {
    padding: 5px;
    display: block;
}

multiple-select .dropdown dd ul li a:hover {
    background-color: #fff;
}

multiple-select button {
    background-color: #6BBE92;
    width: 302px;
    border: 0;
    padding: 10px 0;
    margin: 5px 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
}
multiple-select .hida {
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
}
multiple-select .multiple-select-label {
    position: relative;
    top: -5px;
    left: 5px;
}
@media screen and (max-width: 767px) {

    input[type=text].form-control,
    input[type=password].form-control,
    input[type=email].form-control,
    input[type=number].form-control {
        height: 36px;
        font-size: 22px;
        padding: 3px 5px;
        max-width: 9999px;
        min-width: 0;
    }

    textarea.form-control {
        width: 100%;
        max-width: 9999px;
    }

    .form-group {
        margin-bottom: 0;
    }

    select.form-control {
        height: 36px;
        font-size: 22px;
        padding: 3px 5px;
        max-width: 9999px;
        min-width: 0;
    }

    .app .wrapper .section {
        width: 100%;
        max-width: 100%;
        margin-right: 0;
        float: none;
    }

    .app .repair-detail .form-group label, .app .share-detail-page .form-group label {
        padding: 15px 5px 0 5px;
    }
}
