@media screen and (max-width: 1200px) {
    .app {

        .wrapper {
            .subpage {
                padding: 20px 30px 50px 30px;
            }

            .filters {
                .field-container {
                    width: 106%;

                    .form-group {
                        max-width: 999px;
                        width: 45%;
                    }
                }
            }
        }
    }
    .back-office {

        .wrapper {
            margin-top: 140px;
        }

        header {
            height: 140px;
            
            .nav {
                position: absolute;
                top: 85px;
                left: 0;
                width: 100%;

                .login-button-container {
                    position:absolute;
                    right: 15px;
                    top: -65px;
                }
                li {
                    position: static;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .app header nav {
        .navbar-header {
            float: none;
        }

        .navbar-toggle {
            display: block;
            float: right;
            position: relative;
        }

        .navbar-collapse {
            background: #333;
            padding: 0;
            box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14),0 3px 3px -2px rgba(0,0,0,0.12),0 1px 8px 0 rgba(0,0,0,0.2);
        }

        .collapse {
            display: none !important;
        }

        .collapse.in {
            display: block !important;
        }

        .container-fluid {
            padding: 0;
        }

        .navbar-nav {
            padding: 20px;
        }
    }

    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: 0;
    }

    .view .container {
        width: 100%;
    }

    .app .wrapper .user-profile h3 {
        margin: 10px 0 5px 0;
    }

    .app .wrapper .ads-box {
        padding-top: 10px;
        display: inline-block;
        width: 100%;

        .ads {
            float: left;
            width: 49%;
            text-align: left;
            margin-left: 2%;

            .ads-image {
                width: 100%;
                max-width: 100%;
            }
        }

        .ads:first-child {
            margin-left: 0;
        }
    }

    .back-office {

        .wrapper {
            margin-top: 80px;
        }

        header {
            height: 80px;
            
            .nav {
                position: relative;
                top: 0px;
                left: 0;

                .login-button-container {
                    position:relative;
                    right: 0px;
                    top: 0px;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .app h1 {
        font-size: 28px;
    }
    .app .subpage h1 img {
         width: 60px;
    }
    .app .breadcrumb {
        margin-bottom: 0;
    }
    .app header nav {
        .navbar-nav {
            float: none;
            width: 100%;
            position: relative;
        }

        .navbar-right {
            li {
                display: block;
                position: static;

                .login-button-container {
                    position: absolute;
                    right: 30px;
                    top: 20px;
                }
            }
        }

        .navbar-header {
            padding: 0 15px;
        }

        .navbar-collapse.in {
            overflow: visible;
        }
    }

    .app header .logo img {
        max-width: 280px;
    }

    .app header .logo {
        top: 20px;
    }

    .app {
        .wrapper {
            .works {
                .works-title, .work-list {
                    display: block;
                    width: 100%;
                }
            }
        }
    }

    .app .wrapper {
        .content-box .miles {
            width: 100%;
            padding-bottom: 30px;
            padding-right: 0;
        }
        .content-box .dates {
            margin-top:20px;
            width: 100%;
            padding-left: 0;
        }
    }

    .app .wrapper .box .filter-box .filter-item {
        text-align:center;
        padding: 10px 10px 5px;
        line-height: 1;
        margin-top: 0px;
    }

    .index-shop-services {
        width: 100%;
        display:inline-block;
        overflow: hidden;
    }
    .app .index-shop {
        padding: 20px 20px;
        height: auto;
    }
    .app .wrapper .box .filter-box label {
        font-size: 24px;
    }
    .notifications ul {
        max-width: 600px;
        display:block;
        margin:0 auto;
    }

    .app .wrapper .box h4 {
        width: 100%;
        display: block;
        text-align: center;
        border-bottom: 2px solid #f55d22;

        span {
            border: none;
        }
    }

    .filter-box, .works {
        .navs {
            display:inline-block;
            position: relative;
            top: -41px;
            width: 100%;
            i {
                 font-size: 35px;
                 color: #ccc;
                 cursor: pointer;
                 position:absolute;
            }

            i.fa-angle-left {
                left: -16px;
            }
            i.fa-angle-right {
                right: -16px;
            }
        }
    }
    .app .wrapper {
        padding-bottom: 50px
    }
    .app .wrapper .works .work-list .work-item {
        line-height: 1;
        padding: 10px 10px 5px;
        text-align: center;
    }
    .app .wrapper .filters {
        margin-top: 20px;
    }
    .works-container {
        overflow:hidden;
        display:inline-block;
        width: 100%;
    }
    .app .wrapper .filters .form-group label {
        font-size: 24px;
    }
    .app .wrapper .filters .btn {
        margin-top: 10px;
    }
    .app .wrapper .detail-section {
        padding-bottom: 40px;
    }
    .app .wrapper .detail-section .info {
        width: 100%;
        padding-left: 0px;
    }
    .app .wrapper .detail-section .image {
        margin:0 auto;
        float: none;
        margin-bottom: 20px;
    }
    .app .wrapper .subpage {
        padding: 10px 15px 15px 15px;
    }
    .app .wrapper .detail-section .info span {
        display:block;
        padding-left: 10px;
    }
    .app .wrapper .detail-section .edit-link {
        position:relative;
        display:block;
        top: 20px;
        margin:0 auto;
    }
}
@media screen and (max-width: 550px) {
    .app {
        .wrapper {
            .filters {
                .field-container {
                     width: 100%;

                    .form-group {
                        width:100%;
                    }
                    .form-control.half {
                        width: 47.5%;
                    }
                    .form-control.half:last-child {
                        margin-right: 0;
                    }
                }
            }
            .ads-box .ads {
                width:100%;
                margin-left:0;
            }
            .content-box {
                padding: 20px 15px 70px 15px;
            }
        }
    }
}
@media screen and (max-width: 500px) {

    .app header .logo img {
        max-width: 220px;
    }

    .app header .logo {
        top: 22px;
    }
    .container {
        padding: 0;
    }
    .view {
        .container-fluid {
            padding: 0;
        }
    }
}
