@media screen and (max-width: 1200px) {
    .app {

        .wrapper {
            .subpage {
                padding: 20px 30px 50px 30px;
            }

            .filters {
                .field-container {
                    width: 106%;

                    .form-group {
                        max-width: 999px;
                        width: 45%;
                    }
                }
            }
        }
    }

    .back-office {

        .wrapper {
            margin-top: 140px;
        }

        header {
            height: 140px;

            .nav {
                position: absolute;
                top: 85px;
                left: 0;
                width: 100%;

                .login-button-container {
                    position: absolute;
                    right: 15px;
                    top: -65px;
                }

                li {
                    position: static;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .app header nav {
        .navbar-header {
            float: none;
        }

        .navbar-toggle {
            display: block;
            float: right;
            position: relative;
        }

        .navbar-collapse {
            background: #333;
            padding: 0;
            box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14),0 3px 3px -2px rgba(0,0,0,0.12),0 1px 8px 0 rgba(0,0,0,0.2);
        }

        .collapse {
            display: none !important;
        }

        .collapse.in {
            display: block !important;
        }

        .container-fluid {
            padding: 0;
        }

        .navbar-nav {
            padding: 20px;
        }
    }

    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: 0;
    }

    .view .container {
        width: 100%;
    }

    .app .wrapper .user-profile h3 {
        margin: 10px 0 5px 0;
    }

    .app .wrapper .ads-box {
        padding-top: 10px;
        display: inline-block;
        width: 100%;

        .ads {
            float: left;
            width: 49%;
            text-align: left;
            margin-left: 2%;

            .ads-image {
                width: 100%;
                max-width: 100%;
            }
        }

        .ads:first-child {
            margin-left: 0;
        }
    }

    .back-office {

        .wrapper {
            margin-top: 80px;
        }

        header {
            height: 80px;

            .nav {
                position: relative;
                top: 0px;
                left: 0;

                .login-button-container {
                    position: relative;
                    right: 0px;
                    top: 0px;
                }
            }
        }
    }
    .app .wrapper .detail-section .repair-images .repair-image {
        margin-right: 10px;
    }
}

@media screen and (max-width: 940px) {
    .app .notification-page .noti-filter .form-group {
        width: 50%;
    }
    .app .notification-page .noti-filter .form-group:last-of-type {
        padding-right: 0px;
    }
    .filter-form-section {
        display: inline-block;
        width:100%;
    }
    .app .notification-page .noti-filter button {
        margin-top: 5px;
    }
}


@media screen and (max-width: 767px) {
    .app h1 {
        font-size: 28px;
    }

    .app .subpage h1 img {
        width: 60px;
    }

    .app .breadcrumb {
        margin-bottom: 0;
    }

    .app header nav {
        .navbar-nav {
            float: none;
            width: 100%;
            position: relative;
        }

        .navbar-right {
            li {
                display: block;
                position: static;

                .login-button-container {
                    position: absolute;
                    right: 30px;
                    top: 20px;
                }
            }
        }

        .navbar-header {
            padding: 0 15px;
        }

        .navbar-collapse.in {
            overflow: visible;
        }
    }

    .app header .logo img {
        max-width: 280px;
    }

    .app header .logo {
        top: 20px;
    }

    .app {
        .wrapper {
            .works {
                .works-title, .work-list {
                    display: block;
                    width: 100%;
                }
            }
        }
    }

    .app .wrapper {
        .content-box .miles {
            width: 100%;
            padding-bottom: 30px;
            padding-right: 0;
        }

        .content-box .dates {
            margin-top: 20px;
            width: 100%;
            padding-left: 0;
        }
    }

    .app .wrapper .box .filter-box .filter-item {
        text-align: center;
        padding: 10px 10px 5px;
        line-height: 1;
        margin-top: 0px;
    }

    .index-shop-services {
        width: 100%;
        display: inline-block;
        overflow: hidden;
    }

    .app .index-shop {
        padding: 20px 20px;
        height: auto;
    }

    .app .wrapper .box .filter-box label {
        font-size: 24px;
    }

    .notifications ul {
        max-width: 600px;
        display: block;
        margin: 0 auto;
    }

    .app .wrapper .box h4 {
        width: 100%;
        display: block;
        text-align: center;
        border-bottom: 2px solid #f55d22;

        span {
            border: none;
        }
    }

    .filter-box, .works {
        .navs {
            display: inline-block;
            position: relative;
            top: -41px;
            width: 100%;

            i {
                font-size: 35px;
                color: #ccc;
                cursor: pointer;
                position: absolute;
            }

            i.fa-angle-left {
                left: -16px;
            }

            i.fa-angle-right {
                right: -16px;
            }
        }
    }

    .app .wrapper {
        padding-bottom: 50px;
    }

    .app .wrapper .works .work-list .work-item {
        line-height: 1;
        padding: 10px 10px 5px;
        text-align: center;
    }

    .app .wrapper .filters {
        margin-top: 20px;
    }

    .works-container {
        overflow: hidden;
        display: inline-block;
        width: 100%;
    }

    .app .wrapper .filters .form-group label {
        font-size: 24px;
    }

    .app .wrapper .filters .btn {
        margin-top: 10px;
    }

    .app .wrapper .detail-section {
        padding-bottom: 50px;
    }

    .app .wrapper .detail-section .info {
        width: 100%;
        padding-left: 0px;
    }

    .app .wrapper .detail-section .image {
        margin: 0 auto;
        float: none;
        margin-bottom: 20px;
    }

    .app .wrapper .subpage {
        padding: 10px 25px 50px 25px;
    }

    .app .wrapper .detail-section .info span, .app .wrapper .detail-section .info a {
        display: block;
        padding-left: 30px;
    }

    .app .wrapper .detail-section .edit-link {
        position: relative;
        display: block;
        top: 20px;
        margin: 0 auto;
    }

    .app .wrapper .sm-to-right {
        width: 100%;
        margin-right: 0;
        max-width: 100%;
    }

    .app .wrapper .sm-to-left {
        width: 100%;
        margin-right: 0;
        position: relative;
        max-width: 100%;
    }

    p.payment-cars {
        padding-left: 10px;
    }

    .app .wrapper .backend-user .user-filter .form-group.search-all {
        width: calc(100% - 100px);
    }

    .user-filter .btn {
        height: 38px;
        width: 90px;
        min-width: 90px;
        margin-top: 14px;
    }

    .filter-field .btn {
        margin-top: -14px;
    }

    .table-scroll {
        min-width: 730px;
    }

    .iscroll {
        overflow: hidden;
        position: relative;
        margin-top: 20px;
    }

    .npad {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    .app .wrapper .car-page .car-notifications .notification-half-box {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        float: none;
    }

    .editcar .section .image, .newcar .section .image {
        position:absolute;
        top: 0;
        height: 240px;
        margin-left: 50%;
        transform:translateX(-50%);
    }

    .editcar form .left, .newcar  form .left {
       padding-top: 260px;
    }
    .section .image img {
        max-height: 160px;
    }
    .subpage form {
        position: relative;
    }

    .user.subpage  form {
        padding-top: 280px;
    }

    .app .wrapper .user .sm-to-left{
        position: absolute;
        top: 0;
    }

    .app .wrapper .detail-section {
        padding-left: 40px;
        padding-right: 40px;
    }
    .app .wrapper .detail-section .edit-link {
        display:inline-block;
        position:relative;
    }
    .edit-shop-button {
       right: auto !important;
    }

    .repair-shop-button {
        text-align:center;
        margin-top: -10px;
    }
}

@media screen and (max-width: 550px) {
    .app .wrapper .detail-section {
        padding-left: 15px;
        padding-right: 15px;
    }
    .app {
        .wrapper {

            overflow-x:hidden;

            .filters {
                .field-container {
                    width: 100%;

                    .form-group {
                        width: 100%;
                    }

                    .form-control.half {
                        width: 47.5%;
                    }

                    .form-control.half:last-child {
                        margin-right: 0;
                    }
                }
            }

            .ads-box .ads {
                width: 100%;
                margin-left: 0;
            }

            .content-box {
                padding: 20px 15px 70px 15px;
            }
        }
    }

    .paylist .total {
        float: none;
        position: relative;
        top: -5px;
        display: block;
    }

    .app .wrapper .car-page .detail-section .info .info-column {
        display: block;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .app .wrapper .detail-section label {
        width: 100%;
    }

    .app .wrapper .subpage {
        padding: 10px 15px 50px 15px;
    }

    .app {
        font-size: 22px;
    }

    .app .wrapper ul.notilist li .title {
        font-size: 22px;
    }

    .app .subpage .list ul li .title {
        font-size: 24px;
    }

    .app .wrapper .car-page h2 {
        font-size: 26px;
    }

    .app .wrapper .car-page .car-notifications .edit-link {
        position: absolute;
        top: -48px;
        right: 0px;
        height: 32px;
        min-width: 90px;
    }
    .app .wrapper .detail-section .edit-link {
        height: 32px;
        min-width: 100px;
    }
    .app .wrapper .car-page .repair-filter .form-group {
        width: 49.2%;
    }
    .app .wrapper .car-page .repair-filter .form-group:last-of-type {
        padding-right:0
    }
    .app .wrapper .car-page .repair-filter button {
        min-width: 60px;
        margin-top: 25px;
        height: 40px;
    }
    .app .wrapper .box h3 {
        padding-left:15px;
        padding-right: 15px;
    }
    .app .wrapper .detail-section .summary-price {
        font-size: 22px;
        text-align:center;
    }
    .app .wrapper .detail-section .summary-price .price {
         font-size: 24px;
    }
    .app .wrapper .shares-page .container .share-item .detail .info {
        padding-left: 20px;
    }
    .app .wrapper .shares-page .container .share-item {
        margin-top: 20px;
    }
    .app header .navbar-right .login-button-container .login-popup {
        height: 310px;
    }
    .app .breadcrumb {
        padding: 15px 15px 8px 15px;
    }
    .editcar .section .image, .newcar .section .image {
        top: 0;
    }
    .editcar form,  .newcar form {
        position: relative;
    }
    form .btn-container {
        margin-top: 20px;
    }
    .repair-form .btn-container, .shop-form .btn-container {
        margin-top: 0px;
    }
    form .btn-container button {
        height: 40px;
        min-width: 120px;
        font-size: 22px;
    }
    
    .app .share-link {
        font-size: 26px
    }
    .app .del-repail {
        height: 40px;
        min-width: 120px;
        font-size: 22px;
    }
    h2 {
        font-size: 28px;
    }
    .app .wrapper .detail-section .summary-price, .app .wrapper .detail-section .summary-score {
         font-size: 22px;
    }
    .app .repair-detail .form-group label, .app .share-detail-page .form-group label {
         font-size: 22px;
    }
    .toggle {
        height: 40px;
    }
    .toggle span.choice {
        padding: 5px 10px;
    }
    .toggle span.yes {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .toggle span.no {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .popup-panel {
        width: 100% !important;
        height: 100% !important;
        margin:0 !important;
        left:0 !important;
        top: 0 !important;
    }
    .popup-container .popup-panel.workpopup .btn {
        height: 40px;
        min-width: 120px;
        font-size: 22px;
    }
    .repair-images .col-xs-12 {
        padding: 0px !important;
    }
    .app .wrapper .shop-page .detail-section .info {
        width: 100%;
    }
    .section .shop-image {
        height: 240px;
        margin-left: 50%;
        transform: translateX(-50%);

        img {
            max-height: 999px;
        }
    }
    .section .image-container {
        height: 160px;
        overflow: hidden;
    }
    .app .wrapper .notification-page {
        h1 {
            .btn {
                height: 35px;
                min-width: 90px;
                font-size: 22px;
                padding: 0 10px;
                position: relative;
                top: 5px;

                .fa {
                        font-size: 15px;
                }
            }
        }
        .car-filter {
            padding-left:0;
            padding-right:0;
        }
    }
    .app .notification-page .noti-filter button {
        margin-top: 10px;
        min-width: 55px;
        height: 45px;
    }
    .app .wrapper .notification-detail-section .info .info-column {
        max-width: 100%;
        width: 100%;
    }
    .app .wrapper .detail-section .info .info-column {
        padding-left: 0;
    }
    .app .wrapper .notification-detail-section .info a {
        padding-left: 0;
    }
    .app .wrapper .works .works-title h2 {
        font-size: 35px;
    }
    .back-office .wrapper .subpage {
       padding: 10px 15px 50px 15px;
    }
    .admin-dashboard {
            padding: 20px 0;
    }
    .admin-dashboard span {
        font-size: 22px;
    }
    .back-office .container {
        padding:0 30px;
    }
    .app .wrapper .backend-user h2 button {
        float: right;
        position: relative;
        top: -5px;
        height: 35px;
        min-width: 90px;
    }
    .back-office .work-popup {
        .btn {
            margin-top: 20px;
            height: 40px;
            min-width: 110px;
            font-size: 22px;
        }
    }
    .back-office .pages-table {
            min-width: 600px;
    }
    .app .wrapper .backend-user .detail-field {
        font-size: 24px;
        line-height: 1.3;
    }
    .backend-user form .btn-container button {
        float:left;
    }
    .short-field {
        width: 100%;
    }
    .app .wrapper {
        .backend-user {
            label {
                line-height: 1.1;
            }
            .sort-section {
                .form-group {
                    width: 47%;
                }
            }
        }
    }
    
    .filter-car .filter-field .btn {
            margin-top: 32px;
    }
}

@media screen and (max-width: 500px) {

    .app header .logo img {
        max-width: 220px;
    }

    .app header .logo {
        top: 25px;
    }

    .container {
        padding: 0;
    }

    .view {
        .container-fluid {
            padding: 0;
        }
    }

    .app .opacity-theme .breadcrumb {
        padding: 0 15px;
    }

    .app .wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    .app .wrapper .user-profile {
        padding-left: 15px;
        padding-right: 15px;
    }
}
