<div class="container backend-user">
    <div class="breadcrumb">
        <ul>
            <li>
                <a ng-click="navigateTo('#!/')">Admin ></a>
            </li>
            <li>
                <a ng-click="navigateTo('#!/cars')">Cars ></a>
            </li>
            <li>
                Edit
            </li>
        </ul>
    </div>

    <div class="subpage backend-user"  ng-controller="EditCarController">
        <h1>
            <img src="/img/logo.png" />
            <span>Car</span>
        </h1>

        <form name="form">
            <span class="sr-only" ng-init="setForm(form)"></span>
            <div class="section left hidden-lg hidden-md hidden-sm">
                <div class="image">
                    <p class="error-message" ng-if="invalid_filetype">ระบบรองรับเฉพาะไฟล์ .png .jpg และ .gif</p>
                    <div ng-if="!model.image">
                        <img src="/img/no-photo.jpg" alt="profile" ng-if="!model.image">
                    </div>
                    <div ng-if="model.image">
                        <img class="user-profile-image" ng-src="{{model.image.url}}" alt="profile">
                    </div>
                </div>
            </div>
            <div class="section left">
                <div class="form-group">
                    <label class="capital">
                       User
                    </label>
                    <a href="/admin#!/user?id={{model.user.id}}">{{model.user.name}}</a>
                </div>
                <div class="form-group">
                    <label class="capital">
                        {{strings['brand']}}
                        <span class="required">*</span>
                    </label>
                    <input name="brand"
                           type="text"
                           class="form-control"
                           placeholder="Toyota, Honda, ETC."
                           ng-model="model.brand"
                           ng-required="true" />
                    <p class="error-message margin-top animated fadeIn"
                       ng-if="form.brand.$error.required && form.brand.$dirty">
                        {{strings['required']}}{{strings['brand']}}
                    </p>
                </div>
                <div class="form-group">
                    <label class="capital">
                        {{strings['series']}}
                        <span class="required">*</span>
                    </label>
                    <input name="series"
                           type="text"
                           class="form-control"
                           placeholder="Series"
                           ng-model="model.series"
                           ng-required="true" />
                    <p class="error-message margin-top animated fadeIn"
                       ng-if="form.series.$error.required && form.series.$dirty">
                        {{strings['required']}}{{strings['series']}}
                    </p>
                </div>
                <div class="form-group">
                    <label class="capital">
                        {{strings['serial']}}
                        <span class="required">*</span>
                    </label>
                    <input name="serial"
                           type="text"
                           class="form-control"
                           placeholder="เลขทะเบียรถ"
                           ng-model="model.serial"
                           ng-required="true" />
                    <p class="error-message margin-top animated fadeIn"
                       ng-if="form.serial.$error.required && form.serial.$dirty">
                        {{strings['required']}}{{strings['serial']}}
                    </p>
                </div>
                <div class="form-group">
                    <label class="capital">
                        จังหวัดของทะเบียนรถ
                        <span class="required">*</span>
                    </label>
                    <select name="province"
                            class="form-control"
                            ng-model="model.city"
                            ng-required="true">
                        <option value=""></option>
                        <option ng-repeat="p in provinces" value="{{p.th}}">{{p.th}}</option>
                    </select>
                    <p class="error-message margin-top animated fadeIn"
                       ng-if="form.province.$error.required && form.province.$dirty">
                        กรุณากรอกจังหวัดของทะเบียนรถ
                    </p>
                </div>
                <div class="form-group">
                    <label class="capital">
                        {{strings['engine_size']}}
                    </label>
                    <input type="text"
                           class="form-control"
                           placeholder="ขนาดของเครื่องยนต์"
                           ng-model="model.engine" />
                </div>
                <div class="form-group">
                    <label class="capital">
                        {{strings['color']}}
                    </label>
                    <input type="text"
                           class="form-control"
                           placeholder="สีของรถ"
                           ng-model="model.color" />
                </div>
                
                <div class="form-group">
                    <div class="short-field">
                        <label class="capital">
                            {{strings['car_date']}}
                        </label>
                        <select class="form-control"
                                placeholder="ปีที่ออกรถ เป็น ค.ศ."
                                ng-model="model.day">
                            <option value=""></option>
                            <option ng-repeat="date in dates" value="{{date}}">{{date}}</option>
                        </select>
                    </div>
                    <div class="short-field">
                        <label class="capital">
                            {{strings['car_month']}}
                        </label>
                        <select class="form-control"
                                ng-model="model.month">
                            <option value=""></option>
                            <option ng-repeat="month in months" value="{{month}}">{{month}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="capital">
                        {{strings['car_year']}}
                    </label>
                    <input type="text"
                           class="form-control"
                           placeholder="ปีที่ออกรถ เป็น ค.ศ."
                           ng-model="model.year"/>
                    <p class="error-message margin-top animated fadeIn"
                       ng-if="status.invalid_year">
                        ปีที่ออกรถไม่ถูกต้อง
                    </p>
                </div>
                <div class="form-group">
                    <div class="short-field">
                        <label class="capital">
                            วันที่หมดอายุการบันทึกข้อมูล
                        </label>
                        <select class="form-control"
                                ng-model="model.exp_day"
                                ng-required="true">
                            <option ng-repeat="date in dates" value="{{date}}">{{date}}</option>
                        </select>
                    </div>
                    <div class="short-field">
                        <label class="capital">
                            เดือนหมดอายุการบันทึกข้อมูล
                        </label>
                        <select class="form-control"
                                ng-model="model.exp_month"
                                ng-required="true">
                            <option ng-repeat="month in months" value="{{month}}">{{month}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="capital">
                        ปีหมดอายุการบันทึกข้อมูล (พ.ศ.)
                    </label>
                    <input type="text"
                           name="expYear"
                           class="form-control"
                           placeholder="ปีหมดอายุการบันทึกข้อมูล"
                           ng-model="model.exp_year"
                           ng-required="true" />
                    <p class="error-message margin-top animated fadeIn"
                       ng-if="status.invalid_exp_year">
                        ปีหมดอายุการบันทึกข้อมูลไม่ถูกต้อง
                    </p>
                    <p class="error-message margin-top animated fadeIn"
                       ng-if="form.expYear.$error.required && form.expYear.$dirty">
                        กรุณากรอกปีหมดอายุการบันทึกข้อมูล
                    </p>
                </div>
                <div class="form-group">
                    <label class="capital">
                        {{strings['other']}}
                    </label>
                    <textarea class="form-control"
                              placeholder="อื่นๆ โปรดระบุ"
                              ng-model="model.detail"></textarea>
                </div>
                <div class="form-group">
                    <label class="capital">
                        ไฟล์ที่เก็บได้ (MB)
                    </label>
                    <input class="form-control"
                           type="number"
                            ng-model="model.max_file_size"
                            ng-required="true"/>
                </div>
            </div>
            <div class="section right hidden-xs">
                <div class="image">
                    <p class="error-message" ng-if="invalid_filetype">ระบบรองรับเฉพาะไฟล์ .png .jpg และ .gif</p>
                    <div ng-if="!model.image">
                        <img src="/img/no-photo.jpg" alt="profile" ng-if="!model.image">
                    </div>
                    <div ng-if="model.image">
                        <img class="user-profile-image" ng-src="{{model.image.url}}" alt="profile">
                    </div>
                </div>
            </div>

            <p class="error-message margin-top animated fadeIn" ng-if="status.error">{{strings['general_error']}}</p>
            <p class="error-message margin-top animated fadeIn" ng-if="status.maxcar">{{strings['max_car_message']}}</p>
            <p class="error-message margin-top animated fadeIn" ng-if="status.invalid">{{strings['invalid_form']}}</p>
            <p class="error-message margin-top animated fadeIn" ng-if="status.error_remove">{{strings['error_remove_car']}}</p>
            <p class="error-message margin-top animated fadeIn" ng-if="status.car_expire">{{strings['car_expire_message']}}</p>
            <p class="success-message margin-top animated fadeIn" ng-if="status.success">{{strings['update_success']}}</p>

            <hr />
            <div class="btn-container">
                <button type="button" class="btn btn-danger" ng-click="update(form)">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i> {{strings['update']}}
                </button>
                <button type="button" class="btn btn-danger btn-delete" ng-click="remove()">
                    <i class="fa fa-remove"></i> {{strings['delete']}}
                </button>
            </div>
        </form>


    </div>
</div>
