<div class="container">
    <div class="breadcrumb">
        <ul>
            <li>
                <a ng-click="navigateTo('#/')">Admin ></a>
            </li>
            <li>
                Dashboard
            </li>
        </ul>
    </div>

    <div class="subpage" ng-controller="DashboardController">
        <h1>
            <img src="/img/logo.png" />
            <span>Admin Dashboard</span>
        </h1>

        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="admin-dashboard" ng-click="navigateTo('#/pages')">
                    <i class="fa fa-file-powerpoint-o"></i>
                    <span>จัดการหน้าเว็บ</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="admin-dashboard" ng-click="navigateTo('#/users')">
                    <i class="fa fa-user"></i>
                    <span>จัดการผู้ใช้</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="admin-dashboard" ng-click="navigateTo('#/cars')">
                    <i class="fa fa-car"></i>
                    <span>จัดการรถ</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="admin-dashboard" ng-click="navigateTo('#/works')">
                    <i class="fa fa-wrench"></i>
                    <span>จัดการกลุ่มงาน</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="admin-dashboard" ng-click="navigateTo('#/repairs')">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                    <span>รายการซ่อม</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="admin-dashboard" ng-click="navigateTo('#/payment')">
                    <i class="fa fa-money"></i>
                    <span>แจ้งชำระเงิน</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-6">
                <div class="admin-dashboard" ng-click="navigateTo('#/reports')">
                    <i class="fa fa-file-image-o"></i>
                    <span>Reports</span>
                </div>
            </div>
        </div>
    </div>
</div>
