<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="/"><img src="/img/cc_logo_top.png" alt="logo" /></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="menu-item {{isHomePage?'active':''}}"><a href="/admin">Dashboard</a></li>
                <li class="menu-item {{isPage?'active':''}}"><a href="#!/pages">Pages</a></li>
                <li class="menu-item {{isUsersPage?'active':''}}"><a href="#!/users">Users</a></li>
                <li class="menu-item {{isCarPage?'active':''}}"><a href="#!/cars">Cars</a></li>
                <li class="menu-item {{isWorksPage?'active':''}}"><a href="#!/works">Workgroup</a></li>
                <li class="menu-item {{isRepairsPage?'active':''}}"><a href="#!/repairs">Repairs</a></li>
                <li class="menu-item {{isPaymentPage?'active':''}}"><a href="#!/payment">Payment</a></li>
                <li class="menu-item {{isReportsPage?'active':''}}"><a href="#!/reports">Reports</a></li>
                <li class="menu-item {{isFilesPage?'active':''}}"><a href="#!/files">Files</a></li>
                <li class="menu-item {{isSettingsPage?'active':''}}"><a href="#!/settings">Settings</a></li>
                <li>
                    <div class="login-button-container" ng-if="!user.id">
                        <button type="button" class="btn btn-default" ng-click="loginToggle()">{{strings['login']}}</button>
                        <div class="login-popup animated fadeIn" ng-include="'/partials/login.html'" ng-show="displayLogin"></div>
                    </div>
                    <div class="login-button-container" ng-if="user.id">
                        <button type="button" class="btn btn-default" ng-click="logout()">{{strings['logout']}}</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>