<div class="container backend-user">
    <div class="breadcrumb">
        <ul>
            <li>
                <a ng-click="navigateTo('#!/')">Admin ></a>
            </li>
            <li>
                <a ng-click="navigateTo('#!/payment')">Payment ></a>
            </li>
            <li>
                Edit
            </li>
        </ul>
    </div>

    <div class="subpage backend-user payment"  ng-controller="EditPaymentController">
        <h1>
            <img src="/img/logo.png" />
            <span>Payment</span>
        </h1>

        <form name="form">
           
            <h2>ข้อมูลการชำระเงิน</h2>
            <div class="detail-section">
                <div class="info">
                    <div class="title">
                        <label>ประเภทการชำระ: </label>
                        <span>{{model.type==1?'ต่ออายุรถ':'เพิ่มจำนวนรถ'}}</span>
                    </div>
                    <div class="title">
                        <label>User: </label>
                        <a href="/admin#!/user?id={{model.user.id}}">{{model.user.name}}</a>
                    </div>
                    <div class="title" ng-if="model.type==1">
                        <label>รถที่ดำเนินการ: </label>
                        <p class="payment-car-link" ng-repeat="car in model.relate_cars">
                            <a  href="/admin#!/edit-car?id={{car.id}}">
                                <span>{{car.brand}} {{car.series}} {{car.serial}}</span>
                            </a>
                        </p>
                        
                    </div>
                    <div class="title">
                        <label>วันที่-เวลา ชำระเงิน: </label>
                        <span>{{model.datetime}}</span>
                    </div>
                    <div class="title">
                        <label>จำนวนเงินที่ชำระ: </label>
                        <span>{{model.price.formatMoney(2, '.', ',')}} บาท</span>
                    </div>
                    <div class="title">
                        <label>เบอร์โทรติดต่อ: </label>
                        <span>{{model.telephone?model.telephone:'ไม่ระบุ'}}</span>
                    </div>
                    <div class="title">
                        <label>รายละเอียด: </label>
                        <span>{{model.detail?model.detail:'ไม่ระบุ'}}</span>
                    </div>
                    <div class="title">
                        <label>สถานะ: </label>
                        <select name="status" class="form-control" ng-model="model.status" ng-required="true">
                            <option value="0">ยังไม่ได้ดำเนินการ</option>
                            <option value="1">ดำเนินการแล้ว</option>
                            <option value="2">ไม่พบการโอนเงิน</option>
                        </select>
                        <p class="error-message margin-top animated fadeIn"
                           ng-if="form.status.$error.required && form.status.$dirty">
                            กรุณากรอกหัวข้อเรื่อง
                        </p>
                    </div>
                </div>
            </div>

            <p class="error-message margin-top animated fadeIn" ng-if="status.error">{{strings['general_error']}}</p>
            <p class="error-message margin-top animated fadeIn" ng-if="status.invalid">{{strings['invalid_form']}}</p>
            <p class="success-message margin-top animated fadeIn" ng-if="status.success">{{strings['update_success']}}</p>

            <hr />
            <div class="btn-container">
                <button type="button" class="btn btn-danger" ng-click="submit(form)">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i> {{strings['update']}}
                </button>
                <!--
                <button type="button" class="btn btn-danger btn-delete" ng-click="delete()">
                    <i class="fa fa-remove"></i> {{strings['delete']}}
                </button>-->
            </div>
        </form>


    </div>
</div>
