<div class="container backend-user">
    <div class="breadcrumb">
        <ul>
            <li>
                <a ng-click="navigateTo('#/')">Admin ></a>
            </li>
            <li>
                Payment
            </li>
        </ul>
    </div>

    <div class="subpage" ng-controller="AdminPaymentController">
        <h1>
            <img src="/img/logo.png" />
            <span>Payment</span>
        </h1>

        <div class="user-filter">
            <h2>ค้นหา</h2>
            <div class="filter-field">
                <div class="form-group">
                    <label>เดือน</label>
                    <select class="form-control" ng-model="query.month">
                        <option value="">12 เดือน</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>ปี พ.ศ.</label>
                    <select ng-model="query.year" class="form-control">
                        <option ng-repeat="y in years" value="{{y}}">{{y}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>สถานะ</label>
                    <select class="form-control" ng-model="query.status">
                        <option value="">ทั้งหมด</option>
                        <option value="0">ยังไม่ดำเนินการ</option>
                        <option value="1">ดำเนินการแล้ว</option>
                    </select>
                </div>
                <div>
                    <label class="empty"></label>
                    <button class="btn btn-danger" ng-if="!status.loading" ng-click="search()">
                        <i class="fa fa-search"></i>
                    </button>
                    <button class="btn btn-danger" ng-if="status.loading" disabled>
                        LOADING...
                    </button>
                </div>
            </div>
        </div>

        <div class="users-list paylist">
            <h2>
                <span>Payment ({{model.length}})</span>
                <span class="total">
                    ยอดโอน: <span class="value">{{total?total.formatMoney(2, '.', ','):0.00}} บาท</span>
                </span>
            </h2>
            <div id="iscroll" class="iscroll">
                <div class="table-scroll">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>ประเภท</td>
                                <td>สถานะ</td>
                                <td>วันเวลาชำระเงิน</td>
                                <td>จำนวน</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pm in model" ng-click="edit(pm)">
                                <td>
                                    <a href="/admin#/edit-payment?id={{pm.id}}" ng-click="edit(pm);$event.stopPropagation();">
                                        {{pm.type==1?'ต่ออายุรถ':'เพิ่มรถ'}} 
                                    </a>
                                </td>
                                <td>{{pm.status?'ดำเนินการแล้ว':'ยังไม่ดำเนินการ'}}</td>
                                <td>{{pm.datetime}}</td>
                                <td><span>{{pm.price.formatMoney(2, '.', ',')}} บาท</span></td>
                                <td class="action">
                                    <a href="/admin#/edit-payment?id={{pm.id}}" ng-click="edit(pm);$event.stopPropagation();">
                                        <i class="fa fa-edit"></i>
                                        <!--<i class="fa fa-remove" ng-click="delete(pm);$event.stopPropagation();"></i>-->
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
