<div class="container backend-user">
    <div class="breadcrumb">
        <ul>
            <li>
                <a ng-click="navigateTo('#!/')">Admin ></a>
            </li>
            <li>
                Reports
            </li>
        </ul>
    </div>

    <div class="subpage" ng-controller="AdminReportController">
        <h1>
            <img src="/img/logo.png" />
            <span>Reports</span>
        </h1>

        <div class="user-filter filter-car">
            <h2>ค้นหา</h2>
            <div class="filter-field">
                <div class="form-group search-all">
                    <label>ค้นหาทั้งหมด</label>
                    <input type="text" class="form-control" ng-model="query.q" />
                </div>
                <div>
                    <label class="empty"></label>
                    <button class="btn btn-danger" ng-if="!status.loading" ng-click="search()">
                        <i class="fa fa-search"></i>
                    </button>
                    <button class="btn btn-danger" ng-if="status.loading" disabled>
                        LOADING...
                    </button>
                </div>
            </div>
        </div>

        <div class="users-list">
            <h2>
                <span>Reports ({{total}})</span>
            </h2>
            <div id="iscroll" class="iscroll">
                <div class="table-scroll">
                    <table class="table">
                        <thead>
                            <tr>
                                <!--<td>ลำดับที่</td>-->
                                <td>รูปที่ถูก Report</td>
                                <td>ชื่อผู้แจ้ง</td>
                                <td>Email ผู้แจ้ง</td>
                                <td>เหตุผล</td>
                                <td>จำนวน</td>
                                <td>สถานะ</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="m in model">
                                <!--<td><a href="/admin#!/edit-car?id={{m.id}}">#{{((query.p - 1) * limits) + ($index + 1)}}</a></td>-->
                                <td ng-click="showImage(m.image.url)">
                                    <a href="javascript:void(0)">
                                        <img ng-if="m.image && !m.image.is_delete" ng-src="{{m.image.url}}" />
                                        <img ng-if="m.image && m.image.is_delete" ng-src="{{getDeleteImge(m.image.url)}}" />
                                        <img ng-if="!m.image" ng-src="/img/imgd.png" />
                                    </a>
                                </td>
                                <td><a href="javascript:void(0)">{{m.name}}</a></td>
                                <td><a href="javascript:void(0)">{{m.email}}</a></td>
                                <td><a href="javascript:void(0)">{{m.message}}</a></td>
                                <td><a href="javascript:void(0)">{{m.count}}</a></td>
                                <td><a href="javascript:void(0)">{{m.image.is_delete?'ลบแล้ว':'ยังไม่ลบ'}}</a></td>
                                <td class="action">
                                    <button class="btn btn-danger" ng-click="deleteImage(m.image)" ng-if="!m.image.is_delete">ลบภาพ</button>
                                    <button class="btn btn-danger" ng-click="recoverImage(m.image)" ng-if="m.image.is_delete">กู้ภาพคืน</button>
                                    <button class="btn btn-success"  ng-click="delete(m)">ลบรายการ</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <ul class="paging" ng-if="pages.length>1">
                <li ng-click="gotoPage(1)"><<</li>
                <li ng-click="gotoPage(page - 1)"><</li>
                <li ng-repeat="p in pages" class="page {{p==query.p?'active':''}}" ng-click="gotoPage(p)">{{p}}</li>
                <li ng-click="gotoPage(page + 1)">></li>
                <li ng-click="gotoPage(pages.length)">>></li>
            </ul>

        </div>
    </div>
</div>
