<div class="container backend-user">
    <div class="breadcrumb">
        <ul>
            <li>
                <a ng-click="navigateTo('#!/')">Admin ></a>
            </li>
            <li>
                Settings
            </li>
        </ul>
    </div>

    <div class="subpage" ng-controller="SettingsController">
        <h1>
            <img src="/img/ccn-logo.png" />
            <span>Settings</span>
        </h1>

        <div class="row users-list">
            <div class="col-md-12">
                <div class="form-group">
                    <h4>จำนวนวน (เดือน/ปี) เริ่มต้นของการสร้างรถใหม่ (ฟรี)</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <label>ปี</label>
                            <input type="number" min="0" placeholder="จำนวนปี" class="form-control" ng-model="model.by" />
                        </div>
                        <div class="col-md-4">
                            <label>เดือน</label>
                            <input type="number" min="0" placeholder="จำนวนเดือน" class="form-control" ng-model="model.bm" />
                        </div>
                    </div>
                    <hr />
                    <h4>จำนวนวนพื้นที่เก็บข้อมูล (MB) เริ่มต้นของการสร้างรถใหม่ (ฟรี)</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <label>จำนวนพื้นที่ MB</label>
                            <input type="number" min="0" placeholder="จำนวนพื้นที่ MB" class="form-control" ng-model="model.bmb" />
                        </div>
                    </div>
                    <hr />
                    <h4>เพิ่มวันหมดอายุในแต่ละครั้งของการต่ออายุ</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <label>ปี</label>
                            <input type="number" min="0" placeholder="จำนวนปี" class="form-control" ng-model="model.y" />
                        </div>
                        <div class="col-md-4">
                            <label>เดือน</label>
                            <input type="number" min="0" placeholder="จำนวนเดือน" class="form-control" ng-model="model.m" />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <h4>Admin Emails</h4>
                    <div class="row">
                        <div class="col-md-12" ng-repeat="e in emails">
                            <div class="form-group admin-email" style="position:relative">
                                <input type="email" class="form-control" ng-model="e.val" />
                                <i class="fa fa-remove remove-admin-email-icon" ng-click="removeEmail($index)" style="position:absolute;left:-15px; top: 15px;color:red;font-size: 16px;cursor:pointer"></i>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="button" class="btn btn-success add-email-button" style="margin-bottom:50px;" ng-click="addEmail()">เพิ่ม Email</button>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-danger setting-btn" ng-click="update()">บันทึก</button>
            </div>
            <hr/>
            <div class="col-md-12">
                <div class="form-group">
                    <h4>เพิ่มวันหมดอายุให้รถทุกคันจากวันหมดอายุไปอีก:</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <label>ปี</label>
                            <input type="number" placeholder="จำนวนปี" class="form-control" ng-model="exp_car.y" />
                        </div>
                        <div class="col-md-4">
                            <label>เดือน</label>
                            <input type="number" placeholder="จำนวนเดือน" class="form-control" ng-model="exp_car.m" />
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-danger setting-btn" ng-click="set()">เพิ่มทันที</button>
            </div>
            <hr />
            <div class="col-md-12">
                <div class="form-group">
                    <h4>เพิ่มพื้นที่ให้รถทุกคันไปอีก:</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <label>จำนวนพื้นที่ MB</label>
                            <input type="number" placeholder="จำนวนพื้นที่ MB" class="form-control" ng-model="space.size" />
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-danger setting-btn" ng-click="setSize()">เพิ่มทันที</button>
            </div>
        </div>
    </div>
</div>
