<div ng-controller="AccountController">
    <div class="user-profile animated fadeIn" ng-if="user.id">
        <div class="col-md-4" ng-include="'partials/index-profile.html'"></div>
        <div class="col-md-8" ng-include="'partials/index-car.html'"></div>
    </div>
    <div class="container">
        <div class="subpage away-top">
            <h1>
                <img src="img/logo.png" />
                <span>ข้อมูลส่วนตัว</span>
            </h1>
            <div class="breadcrumb">
                <ul>
                    <li>
                        <a ng-click="navigateTo('#/')">{{strings['nav_home']}} ></a>
                    </li>
                    <li>Account</li>
                </ul>
            </div>

            <div class="detail-section">
                <div class="image">
                    <img ng-if="!user.image || !user.image.url" src="/img/noprofile.png" alt="profile">
                    <img ng-if="user.image && user.image.url" class="user-profile-image" ng-src="{{user.image.url}}" alt="profile">
                </div>
                <div class="info">
                    <div class="title">
                        <label>ชื่อที่แสดง:</label>
                        <span>{{user.name}}</span>
                    </div>
                    <div class="title">
                        <label>
                            E-mail:
                        </label>
                        <span>{{user.email}}</span>
                    </div>
                    <!--<div class="title">
                        <label>
                            เบอร์โทร:
                        </label>
                        <span>{{user.telephone?user.telephone:'ไม่ระบุ'}}</span>
                    </div>
                    <div class="title">
                        <label>
                            ที่อยู่:
                        </label>
                        <span>{{user.address?user.address:'ไม่ระบุ'}}</span>
                    </div>-->
                    <div class="title">
                        <label>
                            จำนวนรถที่มีได้:
                        </label>
                        <span>{{user.max_car}} คัน</span>
                    </div>
                </div>

                <button class="btn btn-danger edit-link" ng-click="editAccount()">
                    แก้ไขข้อมูล
                </button>
            </div>
        </div>
    </div>
</div>