<div class="container">
    <div class="subpage">
        <h1>
            <img src="img/logo.png" />
            <span>{{strings['head_car']}}</span>
        </h1>
        <div class="breadcrumb">
            <ul>
                <li>
                    <a ng-click="navigateTo('#/')">{{strings['nav_home']}} ></a>
                </li>
                <li>{{strings['nav_car']}}</li>
            </ul>
        </div>
        <form name="form" ng-controller="CarController">
            
            <div class="form-group">
                <label class="capital">
                    {{strings['brand']}}
                </label>
                <input type="text"
                       class="form-control"
                       placeholder="Toyota, Honda, ETC."
                       ng-model="model.brand"
                       ng-required="true" />
            </div>
            <div class="form-group">
                <label class="capital">
                    {{strings['series']}}
                </label>
                <input type="text"
                       class="form-control"
                       placeholder="Series"
                       ng-model="model.series"
                       ng-required="true" />
            </div>
            <div class="form-group">
                <label class="capital">
                    {{strings['serial']}}
                </label>
                <input type="text"
                       class="form-control"
                       placeholder="เลขทะเบียรถ"
                       ng-model="model.serial"
                       ng-required="true" />
            </div>
            <div class="form-group">
                <label class="capital">
                    {{strings['engine_size']}}
                </label>
                <input type="text"
                       class="form-control"
                       placeholder="เลขทะเบียรถ"
                       ng-model="model.engine"
                       ng-required="true" />
            </div>
            <div class="form-group">
                <label class="capital">
                    {{strings['color']}}
                </label>
                <input type="text"
                       class="form-control"
                       placeholder="สีของรถ"
                       ng-model="model.color"/>
            </div>
            <div class="form-group">
                <div class="short-field">
                    <label class="capital">
                        {{strings['car_date']}}
                    </label>
                    <select class="form-control"
                            placeholder="ปีที่ออกรถ เป็น ค.ศ."
                            ng-model="model.date"
                            ng-required="true">
                        <option ng-repeat="date in dates" value="{{date}}">{{date}}</option>
                    </select>
                </div>
                <div class="short-field">
                    <label class="capital">
                        {{strings['car_month']}}
                    </label>
                    <select class="form-control"
                            placeholder="ปีที่ออกรถ เป็น ค.ศ."
                            ng-model="model.month"
                            ng-required="true">
                        <option ng-repeat="month in months" value="{{month}}">{{month}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="capital">
                    {{strings['car_year']}}
                </label>
                <input type="text"
                       class="form-control"
                       placeholder="ปีที่ออกรถ เป็น ค.ศ."
                       ng-model="model.year"
                       ng-required="true" />
            </div>
            <div class="form-group">
                <label class="capital">
                    {{strings['other']}}
                </label>
                <input type="text"
                       class="form-control"
                       placeholder="อื่นๆ โปรดระบุ"
                       ng-model="model.other" />
            </div>
            <p class="error-message margin-top animated fadeIn" ng-if="status.error">{{strings['general_error']}}</p>
            <p class="error-message margin-top animated fadeIn" ng-if="status.maxcar">{{strings['max_car_message']}}</p>
            <hr />
            <button type="button" class="btn btn-danger" ng-click="add(form)">
                {{strings['add']}}
            </button>


        </form>
    </div>

</div>
