<div ng-controller="CarController">


    <div class="row user-profile animated fadeIn" ng-if="user.id">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4" ng-include="'partials/index-profile.html'"></div>
                <div class="col-md-8" ng-controller="CarController" ng-include="'partials/index-car.html'"></div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="breadcrumb">
            <ul>
                <li>
                    <a ng-click="navigateTo('#/')">{{strings['nav_home']}} ></a>
                </li>
                <li>{{strings['nav_car']}}</li>
            </ul>
        </div>

        <div class="subpage car-page">
            <h1>
                <img src="img/logo.png" />
                <span>{{car.brand}} {{car.series}}</span>
            </h1>
            <h2><i class="fa fa-car"></i> ข้อมูลรถ</h2>
            <div class="detail-section">
                <div class="image">
                    <img ng-src="{{car.image?car.image.url:'/img/no-photo.jpg'}}" alt="car-image" />
                </div>
                <div class="info">
                    <div class="info-column">
                        <div class="title">
                            <label>ยี่ห้อ: </label>
                            <span>{{car.brand}}</span>
                        </div>
                        <div class="title">
                            <label>รุ่น: </label>
                            <span>{{car.series}}</span>
                        </div>
                        <div class="title">
                            <label>ทะเบียน: </label>
                            <span>{{car.serial}}</span>
                        </div>
                        <div class="title">
                            <label>สีตัวรถ: </label>
                            <span>{{car.color?car.color:'ไม่ระบุ'}}</span>
                        </div>
                        <div class="title">
                            <label>ขนาดเครื่องยนต์: </label>
                            <span>{{car.engine}}</span>
                        </div>
                    </div>
                    <div class="info-column">
                        <div class="title">
                            <label>วันที่ออกรถ: </label>
                            <span>{{car.date_str}}</span>
                        </div>
                        <div class="title">
                            <label>สามารถเพิ่มข้อมูลได้ถึง: </label>
                            <span>{{car.exp_date_str}}</span>
                        </div>
                        <div class="title">
                            <label>อื่นๆ: </label>
                            <span>{{car.detail}}</span>
                        </div>
                    </div>
                </div>
                <button class="btn btn-danger edit-link" ng-click="navigateTo('#/edit-car?id=' + car.id)">
                    แก้ไขข้อมูล
                </button>
            </div>

            <h2><i class="fa fa fa-bell"></i> การแจ้งเตือน</h2>
            <div class="car-notifications">
                <div class="notification-half-box">
                    <h4>
                        <i class="fa fa-road" aria-hidden="true"></i>
                        <span>ตามระยะทาง ({{mileTotal}})</span>
                    </h4>
                    <p class="nodata" ng-if="!noti_miles.length">{{strings['no_data']}}</p>
                    <ul ng-if="noti_miles.length" class="notilist">
                        <li ng-repeat="n in noti_miles" ng-click="navigateTo('#/notification?id='+n.id + '&car=' + car.id)">
                            <span>กม.ที่ {{n.mile.formatMoney(0, '.', ',')}} | </span>
                            <span class="title">{{n.title}}</span>
                            <!--<span class="title">{{n.title}}</span>
                            <span class="detail">{{n.detail}}</span>
                            <span class="date">กิโลเมตรที่: {{n.mile}}</span>
                            <span class="status">
                                <span class="state-open" ng-if="n.enable">{{strings['open']}}</span>
                                <span class="state-close" ng-if="!n.enable">{{strings['close']}}</span>
                            </span>-->
                        </li>
                    </ul>
                    <ul class="paging" ng-if="milePagings.length>1">
                        <li ng-click="gotoMilePage(1)"><<</li>
                        <li ng-click="gotoMilePage(milePage - 1)"><</li>
                        <li ng-repeat="p in milePagings" class="page {{p==milePage?'active':''}}" ng-click="gotoMilePage(p)">{{p}}</li>
                        <li ng-click="gotoMilePage(milePage + 1)">></li>
                        <li ng-click="gotoMilePage(milePagings.length)">>></li>
                    </ul>
                </div>
                <div class="notification-half-box">
                    <h4>
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <span>ตามกำหนดวัน ({{dateTotal}})</span>
                    </h4>
                    <p class="nodata" ng-if="!noti_date.length">{{strings['no_data']}}</p>
                    <ul class="notilist" ng-if="noti_date.length">
                        <li ng-repeat="n in noti_date" ng-click="navigateTo('#/notification?id='+n.id + '&car=' + car.id)">
                            <span>{{n.date_str}} | </span>
                            <span class="title">{{n.title}}</span>
                            <!--<span class="title">{{n.title}}</span>
                            <span class="detail">{{n.detail}}</span>
                            <span class="date">{{n.date_str}}</span>
                            <span class="status">
                                <span class="state-open" ng-if="n.enable">{{strings['open']}}</span>
                                <span class="state-close" ng-if="!n.enable">{{strings['close']}}</span>
                            </span>-->
                        </li>
                    </ul>
                    <ul class="paging" ng-if="datePagings.length>1">
                        <li ng-click="gotoDatePage(1)"><<</li>
                        <li ng-click="gotoDatePage(datePage - 1)"><</li>
                        <li ng-repeat="p in datePagings" class="page {{p==datePage?'active':''}}" ng-click="gotoDatePage(p)">{{p}}</li>
                        <li ng-click="gotoDatePage(datePage + 1)">></li>
                        <li ng-click="gotoDatePage(datePagings.length)">>></li>
                    </ul>
                </div>
                <button class="btn btn-danger edit-link" ng-click="navigateTo('#/new-notification?car=' + car.id)">
                    <i class="fa fa-plus"></i>
                    สร้าง
                </button>
            </div>

            <h2><i class="fa fa-wrench" aria-hidden="true"></i> รายการซ่อมบำรุง ({{repairTotal?repairTotal:0}})</h2>
            <div class="detail-section">
                <div class="list car-repairlist">
                    <p ng-if="!repairs.length">{{strings['no_repairs']}}</p>
                    <ul ng-if="repairs.length">
                        <li ng-repeat="repair in repairs" ng-click="navigateTo('#/repair?id=' + repair.id + '&car='+ car.id)">
                            <span class="notification-detail">
                                <span class="title">{{repair.title}}</span>
                                <span class="detail">{{repair.remark}}</span>
                                <span class="date">{{strings['repair_date_label']}}: {{repair.date_str}}</span>
                                <span class="date">{{strings['repair_mile_label']}}: {{repair.mile}} {{strings['kilometer']}}</span>
                            </span>

                            <span class="status">
                                <span class="state-open" ng-if="repair.share">{{strings['share']}}</span>
                                <span class="state-close" ng-if="!repair.share">{{strings['not_share']}}</span>
                            </span>
                        </li>
                    </ul>
                    <ul class="paging" ng-if="repairPagings.length > 1">
                        <li ng-click="gotoRepairPage(1)"><<</li>
                        <li ng-click="gotoRepairPage(page - 1)"><</li>
                        <li ng-repeat="p in repairPagings" class="page {{p==repairPage?'active':''}}" ng-click="gotoRepairPage(p)">{{p}}</li>
                        <li ng-click="gotoRepairPage(repairPage + 1)">></li>
                        <li ng-click="gotoRepairPage(repairPagings.length)">>></li>
                    </ul>
                </div>
                <button class="btn btn-danger edit-link" ng-click="navigateTo('#/new-repair?car=' + car.id)">
                    สร้าง
                </button>
            </div>
        </div>
    </div>
</div>