<div class="editshop car-page shop-page" ng-controller="EditShopController">
    <div class="row user-profile animated fadeIn" ng-if="user.id">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4" ng-include="'partials/index-profile.html'"></div>
                <div class="col-md-8" ng-include="'partials/index-car.html'"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="breadcrumb">
            <ul>
                <li>
                    <a ng-click="navigateTo('#/')">{{strings['nav_home']}} ></a>
                </li>
                <li>
                    <a ng-click="navigateTo('#/shop?id=' + model.id)">
                        {{model.name?model.name:'ไม่ระบุ'}} >
                    </a>
                </li>
                <li>Edit</li>
            </ul>
        </div>
        <div class="subpage">
            <h1>
                <img src="img/logo.png" />
                <span>แก้ไขข้อมูลร้าน</span>
            </h1>

            <form name="form" ng-if="user.id">
                <span class="sr-only" ng-init="setForm(form)"></span>
                <div class="section left">
                    <div class="form-group">
                        <label class="capital">
                            ชื่อร้าน
                            <span class="required">*</span>
                        </label>
                        <input name="name"
                               type="text"
                               class="form-control"
                               placeholder="ชื่อร้าน"
                               ng-model="model.name"
                               ng-required="true" />
                        <p class="error-message margin-top animated fadeIn"
                           ng-if="form.name.$error.required && form.name.$dirty">
                            กรุณากรอกชื่อร้าน
                        </p>
                    </div>
                    <div class="form-group">
                        <label class="capital">
                            ชื่อเจ้าของร้าน
                        </label>
                        <input name="ownerName"
                               type="text"
                               class="form-control"
                               placeholder="ชื่อเจ้าของร้าน"
                               ng-model="model.owner_name" />
                    </div>
                    <div class="form-group">
                        <label class="capital">
                            ที่อยู่
                        </label>
                        <textarea name="address"
                                  class="form-control"
                                  placeholder="ที่อยู่ร้าน"
                                  ng-model="model.address" />
                    </div>
                    <div class="form-group">
                        <label class="capital">
                            เขต/อำเภอ
                        </label>
                        <input name="city"
                               type="text"
                               class="form-control"
                               placeholder="เขต/อำเภอ"
                               ng-model="model.city" />
                    </div>
                    <div class="form-group">
                        <label class="capital">
                            จังหวัด
                            <span class="required">*</span>
                        </label>
                        <select name="province"
                                class="form-control"
                                ng-model="model.province"
                                ng-required="true">
                            <option value=""></option>
                            <option ng-repeat="p in provinces" value="{{p.key}}">{{p.th}}</option>
                        </select>
                        <p class="error-message margin-top animated fadeIn"
                           ng-if="form.province.$error.required && form.province.$dirty">
                            กรุณากรอกจังหวัด
                        </p>
                    </div>
                    <div class="form-group">
                        <label class="capital">
                            เบอร์โทรศัพท์
                        </label>
                        <input type="text"
                               class="form-control"
                               placeholder="เบอร์โทรศัพท์"
                               ng-model="model.telephone" />
                    </div>
                    <div class="form-group">
                        <label class="capital">
                            Website
                        </label>
                        <input type="text"
                               class="form-control"
                               placeholder="Website ร้าน"
                               ng-model="model.website" />
                    </div>

                </div>
                <div class="section right">
                    <div class="image">
                        <p class="error-message" ng-if="invalid_filetype">ระบบรองรับเฉพาะไฟล์ .png .jpg และ .gif</p>
                        <div ng-if="!model.image">
                            <img src="/img/no-photo.jpg" alt="profile" ng-if="!model.image">
                            <button ng-if="!uploading" class="btn btn-danger" onclick="document.getElementById('fileUpload').click()"><i class="fa fa-photo"></i> {{strings['select_image']}}</button>
                            <button ng-if="uploading" class="btn btn-danger" disabled>LOADING...</button>
                        </div>
                        <div ng-if="model.image">
                            <img class="user-profile-image" ng-src="{{model.image.url}}" alt="profile">
                            <button class="btn btn-danger" ng-if="!uploading" onclick="document.getElementById('fileUpload').click()"><i class="fa fa-photo"></i> {{strings['change_image']}}</button>
                            <button ng-if="uploading" class="btn btn-danger" disabled>LOADING...</button>
                        </div>
                    </div>
                </div>

                <div class="full-width-form-section">
                    <h2><i class="fa fa-gear"></i> บริการ/กลุ่มงานที่รับทำ</h2>
                    <div class="detail-section">
                        <div class="shop-service-action">
                            <span ng-click="checkedAll()"><i class="fa fa-check-square-o" aria-hidden="true"></i> เลือกทั้งหมด</span>
                            <span>/</span>
                            <span ng-click="removeAllChecked()"><i class="fa fa-minus-square-o" aria-hidden="true"></i> ลบทั้งหมด</span>
                        </div>
                        <div class="row shop-work">
                            <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="w in works">
                                <input type="checkbox" class="workCheckbox" name="workCheckbox" ng-click="workChecked(w)" ng-checked="w.checked" /> <span>{{w.name}}</span>
                            </div>
                        </div>
                    </div>

                    <h2><i class="fa fa-map"></i> แผนที่ร้าน</h2>
                    <div class="detail-section">
                        <div class="form-group">
                            <label class="capital">
                                แผนที่ร้าน (Google Map iframe)
                            </label>
                            <textarea type="text"
                                      class="form-control"
                                      ng-model="model.map"
                                      placeholder="Google Map iframe"></textarea>
                        </div>
                    </div>    
                    
                </div>
               

                <p class="error-message margin-top animated fadeIn" ng-if="status.error">{{strings['general_error']}}</p>
                <p class="error-message margin-top animated fadeIn" ng-if="status.invalid">{{strings['invalid_form']}}</p>

                <hr />

                <div class="btn-container">
                    <button type="button" class="btn btn-danger" ng-click="update(form)">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i> {{strings['update']}}
                    </button>
                </div>
            </form>

            <p ng-if="!user.id">กรุณาเข้าสู่ระบบก่อนทำการแก้ไขข้อมูลร้าน</p>
        </div>

    </div>

</div>
