<div class="container">

    <div class="breadcrumb">
        <ul>
            <li>
                <a ng-click="navigateTo('#/')">{{strings['nav_home']}} ></a>
            </li>
            <li>Forgot Password</li>
        </ul>
    </div>

    <div class="subpage" ng-controller="ForgotPasswordController">
        <h1>
            <img src="img/logo.png" />
            <span>กู้คืนรหัสผ่าน</span>
        </h1>
        <form name="form">
            <div class="form-group">
                <label>กรอก E-mail ของท่าน</label>
                <input type="text" name="email" ng-model="model.email" ng-required="true" class="form-control" />
                <p class="error-message margin-top animated fadeIn"
                   ng-if="form.email.$error.required && form.email.$dirty">
                    กรุณากรอก E-mail ของท่าน
                </p>
            </div>

            <p class="error-message margin-top animated fadeIn" ng-if="status.error">{{strings['general_error']}}</p>
            <p class="error-message margin-top animated fadeIn" ng-if="status.invalid">{{strings['invalid_form']}}</p>
            <p class="success-message margin-top animated fadeIn" ng-if="status.success">เราได้ส่ง E-mail เพื่อใช้ในการกู้รหัสผ่านไปยัง E-mail ของท่านแล้ว</p>

            <hr />

            <div class="btn-container">
                <button type="button" class="btn btn-danger" ng-click="submit(form)">
                    ส่ง
                </button>
            </div>
        </form>
    </div>
</div>