<div class="row user-profile">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="profile">
                    <img src="/img/noprofile.png" alt="profile" />
                    <div class="profile-detail">
                        <img src="/img/logo.png" alt="logo"/>
                        <span>{{strings['login_by']}}</span>
                        <span class="username">{{user.name}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-8"></div>
        </div>
    </div>
</div>