<div class="box">
    <h3><i class="fa fa-bell" aria-hidden="true"></i> {{strings['notification']}}</h3>
    <div class="content-box notifications">
        
        <div class="miles">
            <h4>
                <i class="fa fa-road" aria-hidden="true"></i>
                <span>ตามระยะทาง</span>
            </h4>
            <ul>
                <li ng-repeat="car in cars_" class="index-car-noti">
                    <span class="car-model"><i class="fa fa-car"></i> {{car.brand}} {{car.series}}, {{car.serial}}</span>
                    <ul>
                        <li class="nodata" ng-if="!car.noti_mile.length">{{strings['no_data']}}</li>
                        <li class="index-noti-item" ng-repeat="n in car.noti_mile" ng-click="navigateTo('#/notification?id='+n.id)">
                            <a href="#/notification?id={{n.id}}">
                                <span>กม.ที่ {{n.mile.formatMoney(0, '.', ',')}} | </span>
                                <span class="title">{{n.title}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="dates">
            <h4>
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <span>ตามกำหนดวัน</span>
            </h4>
            <ul>
                <li ng-repeat="car in cars_" class="index-car-noti">
                    <span class="car-model"><i class="fa fa-car"></i> {{car.brand}} {{car.series}}, {{car.serial}}</span>
                    <ul>
                        <li class="nodata" ng-if="!car.noti_date.length">{{strings['no_data']}}</li>
                        <li class="index-noti-item" ng-repeat="n in car.noti_date" ng-click="navigateTo('#/notification?id='+n.id)">
                            <a href="#/notification?id={{n.id}}">
                                <span>{{n.date_str}} | </span>
                                <span class="title">{{n.title}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        
        <a class="view-all" ng-if="cars.length" href="#/notifications" ng-click="navigateTo('#/notifications')">{{strings['view_all']}}</a>
    </div>
</div>

