<div class="box">
    <h3><i class="fa fa-map-marker" aria-hidden="true"></i> {{strings['rates_shop']}}</h3>
    <div class="filter-box">
        <div class="filter-item active">{{strings['general_work']}}</div>
        <div class="filter-item" ng-repeat="work in workgroup">{{work.name}}</div>
    </div>
    <div class="content-box">
        <p class="nodata" ng-if="!shops.length">{{strings['no_data']}}</p>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" ng-repeat="s in shops">
                <div class="index-shop">
                    <a href="/#/edit-shop?id={{s.id}}">
                        <div><i class="fa fa-map-marker"></i> {{s.name}}</div>
                        <div><i class="fa fa-map-o"></i> จังหวัด: {{s.city?s.city:'ไม่ระบุ'}}</div>
                        <div><i class="fa fa-asterisk"></i> จำนวนการใช้บริการ: 10</div>
                        <rating-star rating="s.rating"></rating-star>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
