<div class="row">
    <div class="col-md-12 car-col">
        <h3><i class="fa fa-car" aria-hidden="true"></i> {{strings['your_car']}}</h3>
    </div>
    <div class="col-md-12" ng-if="max_car">
        <p class="error-message margin-top animated fadeIn">{{strings['max_car_message']}}</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-6 col-xs-6" ng-repeat="car in cars">
        <div class="car-item {{car.active?'active':''}}" title="{{car.brand}} {{car.series}}">
            <a ng-click="pickCar(car)">
                <img src="img/car.png" alt="car" ng-if="!car.image" />
                <img ng-src="{{car.image.url}}" alt="car" ng-if="car.image" />
                <div class="detail">
                    <span>{{car.serial}}</span>
                    <span>{{car.brand}} {{car.series}}</span>
                </div>
                <span class="noti-count" ng-if="isNotificationsPage || isNotificationPage">{{car.notifications}}</span>
                <span class="noti-count" ng-if="isRepairPage || isRepairsPage">{{car.repairs}}</span>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-xs-6">
        <div class="car-item add" ng-click="navigateTo('#/new-car')">
            <i class="fa fa-plus"></i>
            <span>{{strings['add']}}</span>
        </div>
    </div>
</div>
<p ng-if="isNotificationsPage" class="select-car-description">{{strings['notifications_selec_car_description']}}</p>
<p ng-if="isNotificationPage" class="select-car-description">{{strings['notification_selec_car_description']}}</p>
<p ng-if="isRepairsPage" class="select-car-description">{{strings['repairs_selec_car_description']}}</p>
<p ng-if="isRepairPage" class="select-car-description">{{strings['repair_selec_car_description']}}</p>