<form name="form" id="loginForm" ng-controller="LoginController">
    <p class="error-message animated fadeIn" ng-if="status.invalid">{{strings['invalid_login']}}</p>
    <p class="error-message animated fadeIn" ng-if="status.error">{{strings['general_error']}}</p>
    <div class="form-group">
        <label class="capital">{{strings['email']}}</label>
        <input type="text"
               class="form-control"
               ng-model="model.email" 
               ng-required="true" />
    </div>
    <div class="form-group">
        <label class="capital">{{strings['password']}}</label>
        <input type="password" 
               class="form-control"
               ng-model="model.password" 
               ng-required="true" 
               ng-keypress="keyPress(form, $event)"/>
    </div>
    <div class="button-container">
        <div class="button-group">
            <button type="button" class="btn btn-default" ng-click="login(form)">
                {{strings['login']}}
            </button>
            <div class="fb-login" ng-click="facebookLogin()">
                <img src="img/fb_login.png" alt="fb-login" />
            </div>
        </div>
        <a ng-click="navigateTo('#/register')">
            {{strings['register_header']}}
        </a>
    </div>
</form>