<nav>
    <div class="logo" ng-click="navigateTo('#/')">
        <img src="/img/logo.png" alt="logo" />
        <span>CARCARENOTE</span>
    </div>

    
    <div class="nav-right">
        <div class="menu">
            <a href="#">Home</a>
            <a href="#">Share</a>
            <a href="#">Contact</a>
            <a href="#">FAQ</a>
        </div>

        <div class="login-button-container" ng-if="!user.id">
            <button type="button" class="btn btn-default" ng-click="loginToggle()">{{strings['login']}}</button>
            <div class="login-popup animated fadeIn" ng-include="'partials/login.html'" ng-if="displayLogin"></div>
        </div>
        <div class="login-button-container" ng-if="user.id">
            <button type="button" class="btn btn-default" ng-click="logout()">{{strings['logout']}}</button>
        </div>
    </div>
</nav>