<div ng-controller="NotificationsController">

    <div class="user-profile" ng-if="user.id">
        <div class="col-md-4" ng-include="'partials/index-profile.html'"></div>
        <div class="col-md-8" ng-include="'partials/index-car.html'"></div>
    </div>

    <div class="container">
        <div class="breadcrumb">
            <ul>
                <li>
                    <a ng-click="navigateTo('#/')">{{strings['nav_home']}} ></a>
                </li>
                <li>{{strings['nav_notifications']}}</li>
            </ul>
        </div>
        <div class="subpage notification-page">
            <h1>
                <img src="img/logo.png" />
                <span >{{strings['head_notification']}}</span>
                <button type="button" class="btn btn-danger" ng-click="navigateTo('#/new-notification')"><i class="fa fa-plus"></i> {{strings['add']}}</button>
            </h1>
            <div class="noti-filter">
                <div class="filter-form-section">
                    <div class="form-group">
                        <label>กลุ่มงาน</label>
                        <select class="form-control" ng-model="query.work" ng-change="filter()">
                            <option value="">ทั้งหมด</option>
                            <option value="{{w.id}}" ng-repeat="w in works">{{w.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>สถานะ</label>
                        <select class="form-control" ng-model="query.status" ng-change="filter()">
                            <option value="">ทั้งหมด</option>
                            <option value="true">เตือน</option>
                            <option value="false">ไม่เตือน</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-danger" ng-click="filter()"><i class="fa fa-search"></i></button>
                </div>
                <div class="car-filter user-profile" ng-if="cars.length>1">
                    <label>ดูเฉพาะรถ</label>
                    <div class="row">
                        <div ng-repeat="car in cars" class="col-lg-4 col-md-6 col-sm-6 col-xs-12" title="{{car.brand}} {{car.series}}">
                            <div class="car-item {{car.active?'active':''}}" ng-click="carFilter(car)">
                                <div class="index-car-image">
                                    <img src="img/car.png" alt="car" ng-if="!car.image" />
                                    <img ng-src="{{car.image.url}}" alt="car" ng-if="car.image" />
                                </div>
                               
                                <div class="detail">
                                    <span>{{car.serial}}</span>
                                    <span>{{car.brand}} {{car.series}}</span>
                                </div>
                                <span class="noti-count" ng-if="isNotificationsPage || isNotificationPage">{{car.notifications}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="box content-box ">
                <div class="detail-section">
                    <div class="miles">
                        <h4>
                            <i class="fa fa-road" aria-hidden="true"></i>
                            <span>ตามระยะทาง</span>
                        </h4>
                        <ul>
                            <li ng-repeat="car in cars_" class="index-car-noti">
                                <span ng-if="cars_.length>1" class="car-model"><i class="fa fa-car"></i> {{car.brand}} {{car.series}}, {{car.serial}}</span>
                                <ul>
                                    <li class="nodata" ng-if="!car.noti_mile.length">{{strings['no_data']}}</li>
                                    <li class="index-noti-item" ng-repeat="n in car.noti_mile" ng-click="navigateTo('#/notification?id='+n.id)">
                                        <span>กม.ที่ {{n.mile.formatMoney(0, '.', ',')}} | </span>
                                        <span class="title">{{n.title}}</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div class="dates">
                        <h4>
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            <span>ตามกำหนดวัน</span>
                        </h4>
                        <ul>
                            <li ng-repeat="car in cars_" class="index-car-noti">
                                <span ng-if="cars_.length>1" class="car-model"><i class="fa fa-car"></i> {{car.brand}} {{car.series}}, {{car.serial}}</span>
                                <ul>
                                    <li class="nodata" ng-if="!car.noti_date.length">{{strings['no_data']}}</li>
                                    <li class="index-noti-item" ng-repeat="n in car.noti_date" ng-click="navigateTo('#/notification?id='+n.id)">
                                        <span>{{n.date_str}} | </span>
                                        <span class="title">{{n.title}}</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                

                <!--
                <ul ng-if="notifications.length">
                    <li class="notification-item" ng-repeat="notification in notifications" ng-click="navigateTo('#/notification?id=' + notification.id)">
                        <span class="notification-detail">
                            <span class="title">{{notification.title}}</span>
                            <span class="detail">{{notification.detail}}</span>
                            <span class="car">{{notification.car.brand}} {{notification.car.series}}</span>
                            <span class="date" ng-if="notification.type==1">{{strings['notification_by_date']}}: {{notification.date_str}}</span>
                            <span class="date" ng-if="notification.type==2">{{strings['notification_by_mile']}}: {{notification.mile}} {{strings['kilometer']}}</span>
                        </span>
                        
                        <span class="status">
                            <span class="state-open" ng-if="notification.enable">{{strings['open']}}</span>
                            <span class="state-close" ng-if="!notification.enable">{{strings['close']}}</span>
                        </span>
                    </li>
                </ul>
                <ul class="paging" ng-if="pages.length>1">
                    <li ng-click="gotoPage(1)"><<</li>
                    <li ng-click="gotoPage(page - 1)"><</li>
                    <li ng-repeat="p in pages" class="page {{p==page?'active':''}}" ng-click="gotoPage(p)">{{p}}</li>
                    <li ng-click="gotoPage(page + 1)">></li>
                    <li ng-click="gotoPage(pages.length)">>></li>
                </ul>-->
            </div>
        </div>
    </div>
</div>