<div ng-controller="NotificationsController">
    <div class="row user-profile animated fadeIn" ng-if="user.id">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4" ng-include="'partials/index-profile.html'"></div>
                <div class="col-md-8" ng-controller="CarController" ng-include="'partials/index-car.html'"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="breadcrumb">
            <ul>
                <li>
                    <a ng-click="navigateTo('#/')">{{strings['nav_home']}} ></a>
                </li>
                <li>{{strings['nav_notifications']}}</li>
            </ul>
        </div>
        <div class="subpage">
            <h1>
                <img src="img/logo.png" />
                <span >{{strings['head_notification']}}</span>
                <button type="button" class="btn btn-danger" ng-click="navigateTo('#/notification')"><i class="fa fa-plus"></i> {{strings['add']}}</button>
            </h1>
            <div class="list">
                <p>{{total}} Notifications</p>
                <p ng-if="!notifications.length">{{strings['no_notification']}}</p>
                <ul ng-if="notifications.length">
                    <li ng-repeat="notification in notifications">
                        <span class="notification-detail">
                            <span class="title">{{notification.title}}</span>
                            <span class="detail">{{notification.detail}}</span>
                            <span class="date" ng-if="notification.type==1">{{strings['notification_by_date']}}: {{notification.date_str}}</span>
                            <span class="date" ng-if="notification.type==2">{{strings['notification_by_mile']}}: {{notification.mile}} {{strings['kilometer']}}</span>
                        </span>
                        
                        <span class="status">
                            <span class="state-open" ng-if="notification.enable">{{strings['open']}}</span>
                            <span class="state-close" ng-if="!notification.enable">{{strings['close']}}</span>
                        </span>
                        <span class="view" ng-click="navigateTo('#/notification?id=' + notification.id)">{{strings['edit_data']}}</span>
                    </li>
                </ul>
                <ul class="paging" ng-if="pages.length>1">
                    <li ng-click="gotoPage(1)"><<</li>
                    <li ng-click="gotoPage(page - 1)"><</li>
                    <li ng-repeat="p in pages" class="page {{p==page?'active':''}}" ng-click="gotoPage(p)">{{p}}</li>
                    <li ng-click="gotoPage(page + 1)">></li>
                    <li ng-click="gotoPage(pages.length)">>></li>
                </ul>
            </div>
        </div>
    </div>
</div>
