<div class="container">
    <div class="subpage away-top">
        <h1>
            <img src="img/logo.png" />
            <span>{{strings['register_header']}}</span>
        </h1>
        <div class="breadcrumb">
            <ul>
                <li>
                    <a ng-click="navigateTo('#/')">{{strings['nav_home']}} ></a>
                </li>
                <li>{{strings['nav_register']}}</li>
            </ul>
        </div>
        <form name="form" ng-controller="RegisterController">
            <div class="form-group">
                <label class="capital">
                    {{strings['name']}}
                </label>
                <input name="name"
                       type="text"
                       class="form-control"
                       placeholder="ชื่อเรียก"
                       ng-model="model.name"
                       ng-required="true" 
                       ng-keypress="keyPress($event, form)"/>
                <p class="error-message margin-top animated fadeIn" 
                   ng-if="form.name.$error.required && form.name.$dirty">
                    {{strings['required']}}{{strings['name']}}
                </p>
            </div>
            <div class="form-group">
                <label class="capital">
                   {{strings['email']}}
                </label>
                <input name="email"
                       type="email"
                       class="form-control"
                       placeholder="E-mail"
                       ng-model="model.email"
                       ng-required="true" 
                       ng-keypress="keyPress($event, form)"/>
                <p class="error-message margin-top animated fadeIn"
                   ng-if="form.email.$error.required && form.email.$dirty">
                    {{strings['required']}} {{strings['email']}}
                </p>
                <p class="error-message margin-top animated fadeIn"
                   ng-if="status.exist">{{strings['email_exist']}}</p>
            </div>
            <div class="form-group">
                <label class="capital">
                    {{strings['telephone']}}
                </label>
                <input name="telephone"
                       type="text"
                       class="form-control"
                       placeholder="Telephone"
                       ng-model="model.telephone"
                       ng-keypress="keyPress($event, form)" />
                <p class="error-message margin-top animated fadeIn"
                   ng-if="form.email.$error.required && form.email.$dirty">
                    {{strings['required']}} {{strings['email']}}
                </p>
                <p class="error-message margin-top animated fadeIn"
                   ng-if="status.exist">{{strings['email_exist']}}</p>
            </div>
            <div class="form-group">
                <label class="capital">
                   {{strings['password']}}
                </label>
                <input name="password"
                       type="password"
                       class="form-control"
                       placeholder="Password"
                       ng-model="model.password"
                       ng-required="true" 
                       ng-keypress="keyPress($event, form)"/>
                <p class="error-message margin-top animated fadeIn"
                   ng-if="form.password.$error.required && form.password.$dirty">
                    {{strings['required']}} {{strings['password']}}
                </p>
            </div>
            <div class="form-group">
                <label class="capital">
                    {{strings['confirm_password']}}
                </label>
                <input type="password"
                       class="form-control"
                       placeholder="Confirm Password"
                       ng-model="model.confirm_password"
                       ng-required="true" 
                       ng-keypress="keyPress($event, form)" />
                <p class="error-message margin-top animated fadeIn" 
                   ng-if="model.password!==model.confirm_password && is_submit">
                    {{strings['password_mismatch']}}
                </p>
            </div>
            <div class="form-group">
                <label class="capital">
                    กรอกรหัสความปลอดภัย
                </label>
                <div class="captcha">
                    {{captcha.captcha}}
                </div>
                <input type="text"
                       class="form-control"
                       placeholder="captcha"
                       ng-model="model.captcha"
                       ng-required="true"
                       ng-keypress="keyPress($event, form)" />
                <p class="error-message margin-top animated fadeIn"
                   ng-if="!model.captcha && is_submit">
                    กรุณากรอกรหัสความปลอดภัย
                </p>
                <p class="error-message margin-top animated fadeIn"
                   ng-if="model.captcha != captcha.captcha  && is_submit">
                    รหัสความปลอดภัยไม่ถูกต้อง
                </p>
            </div>
            <p class="error-message margin-top animated fadeIn" ng-if="status.error">{{strings['general_error']}}</p>
            <hr />
            <button type="button" class="btn btn-danger" ng-click="submit(form)">
                {{strings['register']}}
            </button>
        </form>
    </div>
    
</div>
