<div class="popup-container animated {{animation}}" ng-if="display">
    <div class="popup-panel report-popup">
        <i class="fa fa-remove" ng-click="close()"></i>
        <div class="popup-body">
            <h2>Report รูป</h2>
            <div class="images">
                <div class="image">
                    <img alt="report-image" ng-src="{{url}}" />
                </div>
            </div>
            <form name="reportForm">
                <div class="from-group" ng-show="!login">
                    <label>ชื่อ <span class="required">*</span></label>
                    <input type="text"
                           name="name"
                           ng-model="model.name"
                           ng-required="true"
                           class="form-control" />
                    <p class="error-message" ng-show="is_submit && reportForm.name.$error.required">กรุณากรอกชื่อผู้แจ้ง</p>
                </div>
                <div class="from-group" ng-show="!login">
                    <label>Email <span class="required">*</span></label>
                    <input type="text"
                           name="email"
                           ng-model="model.email"
                           ng-required="true"
                           class="form-control" />
                    <p class="error-message" ng-show="is_submit && reportForm.email.$error.required">กรุณากรอกชื่อ E-mail ผู้แจ้ง</p>
                </div>
                <div class="from-group">
                    <label>เหตุผลการแจ้ง <span class="required">*</span></label>
                    <textarea name="message"
                              ng-model="model.message"
                              ng-required="true"
                              class="form-control"></textarea>
                    <p class="error-message" ng-show="is_submit && reportForm.message.$error.required">กรุณากรอกเหตุผลในการแจ้ง</p>
                </div>
            </form>
            <button class="btn btn-danger" ng-click="submit(reportForm)">ส่งการแจ้ง</button>
        </div>
    </div>
</div>