<div class="popup-container animated {{animation}}" ng-if="display">
    <div class="popup-panel shoppopup">
        <i class="fa fa-remove" ng-click="close()"></i>
        <div class="popup-body shop-popup">
          
            <h2>สร้างร้าน</h2>
            <form name="shopForm">
                <div class="form-group">
                    <label>ชื่อร้าน</label>
                    <input name="search"
                           ng-required="true"
                           id="shopName"
                           type="text"
                           class="form-control"
                           ng-model="model.name"
                           placeholder="ใส่ชื่อร้าน" />
                    <p class="error-message margin-top animated fadeIn"
                       ng-if="!model.name && form_submit">
                        กรุณาเลือกกรอกชื่อร้าน
                    </p>
                </div>
                <div class="form-group">
                    <label>จังหวัด</label>
                    <select ng-model="model.province"
                            ng-required="true">
                        <option value="" disabled>กรุณาเลือกจังหวัด</option>
                        <option ng-repeat="p in provinces" value="{{p.key}}">{{p.th}}</option>
                    </select>
                    <p class="error-message margin-top animated fadeIn"
                       ng-if="!model.province && form_submit">
                        กรุณาเลือกจังหวัด
                    </p>
                </div>
                <span ng-init="setFrom(shopForm)"></span>
                <button class="btn btn-danger" ng-click="createShop()">สร้างร้าน</button>
            </form>
        </div>
    </div>
</div>