<div class="popup-container animated {{animation}}" ng-if="display">
    <div class="popup-panel workgrouppopup">
        <i class="fa fa-remove" ng-click="close()"></i>
        <div class="work-popup">
            <h2 ng-if="!work.id">เพิ่มงาน</h2>
            <h2 ng-if="work.id">แก้ไขงาน</h2>
            <form class="form" name="form" novalidate>
                <div class="form-group">
                    <label class="capital">
                        ชื่อกลุ่มงาน
                        <span class="required">*</span>
                    </label>
                    <input name="title"
                           type="text"
                           class="form-control"
                           ng-model="work.name"
                           ng-required="true" />
                    <p class="error-message animated fadeIn"
                       ng-if="form.title.$error.required && form.title.$dirty">
                        กรุณากรอกชื่อกลุ่มงาน
                    </p>
                </div>
                <p class="error-message animated fadeIn" ng-if="error">พบปัญหาบางอย่างกรุณาลองอีกครั้งหรือติดต่อผู้ดูแลระบบ</p>
                <div class="delete">
                    <button class="btn btn-danger btn-delete" ng-click="save(form)">
                        Save ข้อมูล
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>